.testProgress {
    display: flex;
    flex-direction: column;
    gap: calc(var(--space-m) * 0.75);
}

.testProgress__header {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    width: 100%;
    overflow: hidden;
}

.testProgress__name {
    font-size: var(--font-size-s);
    font-weight: var( --font-weight-l);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.testProgress__progress,
.testProgress__time,
.testProgress__date {
    font-size: calc(var(--font-size-m) * 0.7);
    color: var(--thirdly-text-color);
}

.testProgress__dates {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}