.trainingCatalog {
    --mistakes-height: 157px;

    gap: var(--space-m);
}

.trainingCatalog__pageContent {
    position: relative;
    display: grid;
    grid-template-areas: "title title" "systems other";
    grid-template-rows: var(--title-block-container-height) 1fr;
    grid-template-columns: var(--accent-block-container-width) 1fr;
}

.trainingCatalog__titleContainer {
    grid-area: title;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.trainingCatalog__titleContainer__title {
    color: var(--text-color);
    line-height: var(--font-size-xl);
}

.trainingCatalog__titleContainer__description {
    color: var(--text-color);
    line-height: var(--font-size-s);
}


.trainingCatalog__systemTests {
    grid-area: systems;
    height: calc(100vh - var(--title-block-container-height) - 2*var(--page-padding-m) - var(--space-m));
}

.trainingCatalog__otherTests {
    grid-area: other;
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    height: calc(100vh - var(--title-block-container-height) - 2*var(--page-padding-m) - var(--space-m));
}

.trainingCatalog__workOnMistakes {
    height: var(--mistakes-height);
}

.trainingCatalog__userTests {
    height: 100%;
}

.trainingCatalog__userTestsWithMistakes {
    height: calc(100% - var(--mistakes-height) - var(--space-m));
}

.trainingCatalog__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
