.levelLink {
    border: 1px solid var(--thirdly-text-color);
    display: flex;
    cursor: pointer;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.levelLink .levelIcon {
    fill: var(--thirdly-text-color);
}

.levelLink_completed {
    border: 2px solid transparent;
    background: var(--success-color);
    cursor: default;
}

.levelLink_completed .levelIcon {
    fill: var(--on-surface-color);
}

.levelLink_disabled {
    border: 2px solid var(--disabled-text-color);
    cursor: default;
}

.levelLink_disabled .levelIcon {
    fill: var(--disabled-text-color);
}
