.back {
    display: flex;
    align-items: center;
    gap: var(--space-s);
    color: var(--text-color);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
    background: var(--on-surface-color);
}

.back__icon {
    width: 20px;
    color: var(--text-color);
}

.back_type_icon {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid var(--dark-on-surface-color);
    justify-content: center;
}
