.button {
    font-family: var(--main-font);
    font-weight: var(--font-weight-m);
    --icon-size: 16px;
}

.button img {
    width: var(--icon-size);
    height: var(--icon-size);
}

.button__filled {
    --min-width:  150px;

    min-width: var(--min-width);
}

.button_faded {
    background-color: var(--on-surface-color);
    color: var(--secondary-text-color)
}

.button_link {
    height: auto;
    font-weight: var(--font-weight-m);
    padding: 0 var(--space-xs);
}
