.selectImage__image div {
    height: 100%;
    width: 100%;
    max-width: unset !important; /* Заменяю стандартное поведение изображения из nextui*/
}

.selectImage__image {
    height: 100%;
    width: 100%;
}

.selectImage__altText {
    width: 315px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-m);
}
