@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showLeft {
    from {
        opacity: 0;
        transform: translateX(-15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showRight {
    from {
        opacity: 0;
        transform: translateX(15px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes showFade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.centeredContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 70px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.homePage__container {
    background: var(--service-backround-color);
    height: 100vh;
}

.homePage__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: 400px;
}

.homePage__links {
    max-width: 1080px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-height: 525px;

    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*gap: 30px;*/
}

.homePage__buttonContainer {
    display: grid;
    grid-template-rows: 1fr 90px;
    gap: 6px;
    padding: 30px !important;
    height: 100%;
    width: 100%;



    max-width: 525px !important;
    max-height: 525px !important;



    box-sizing: border-box;

    /*-moz-box-sizing:border-box;*/
    /*-webkit-box-sizing:border-box;*/

    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: 3px solid transparent;
    animation: showDown 1s ease-in;
}

/*.homePage__buttonContainer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 16px;*/
/*    padding: 30px !important;*/
/*    height: 100%;*/
/*    width: 100%;*/



/*    max-width: 465px !important;*/
/*    max-height:481px !important;*/



/*    box-sizing: content-box;*/

/*    !*-moz-box-sizing:border-box;*!*/
/*    !*-webkit-box-sizing:border-box;*!*/

/*    transition: all 0.2s ease-in;*/
/*    cursor: pointer;*/
/*    outline: 3px solid transparent;*/
/*}*/

.homePage__buttonContainer:hover {
    scale: 0.98;
    outline: 3px solid var(--primary-color);
}

.homePage__button__imageContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.homePage__button__typographyContainer {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.homePage__button__typographyContainer h2 {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

.homePage__button__typographyContainer p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
}

.homePage__logosContainer {
    max-width: 1080px;
    max-height: 100px;
    width: 100%;
    box-sizing: border-box;

}

.homePage__logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
    max-width: 1080px;
    max-height: 85px !important;
    width: 100%;
    box-sizing: border-box;
}

.homePage__testButton {
    position: absolute;
    right: 50px;
    top: 50px
}

.errorPage_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 400px;
}

.errorPage_header {
    font-family: OpenSans, serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.errorPage_description {
    font-family: OpenSans, serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

@media (max-height: 800px)  {
    .homePage__buttonContainer {
        max-width: 450px !important;
        max-height: 450px !important;
    }

    .homePage__button__imageContainer {
        display: flex;
        justify-content: center;
        /*max-width: 280px !important;*/
        max-height: 280px !important;
    }

    .homePage__logosContainer {
        max-width: 930px !important;
    }
}
