.theoryCard {
    max-width: 1080px;
    box-sizing: border-box;
}

.theoryCard__titleContainer {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    align-items: center;
}

.theoryCard__title {
    font-family: var(--main-font);
    font-weight: var(--font-weight-l);
    font-size: 18px;
}

.theoryCard__images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-m);
    margin-top: var(--space-m);
}

.theoryCard__gif {
    max-width: 510px;
    max-height: 370px;
    width: 100%;
    height: 100%;
}

.theoryCard__gif video {
    max-width: 510px;
    max-height: 370px;
    width: 100%;
    height: 100%;
}

.theoryCard__image {
    border: 3px var(--dark-on-surface-color) solid;
    border-radius: var(--border-radius-s);
    max-width: 510px;
    max-height: 370px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.theoryCard__word {
    font-family: var(--main-font);
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-xxl);
    text-align: center;
    line-height: var(--font-size-xxl);
}
