.selectUserTestWords__header {
    font-size: var(--font-size-s);
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    margin-bottom: var(--space-s);
}

.selectUserTestWords__title {
    font-weight: var(--font-weight-l)
}

.selectUserTestWords__wordCount {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
}

.selectUserTestWords__wordCount::before {
    content: '';
    width: 2px;
    height: 2px;
    background-color: var(--secondary-text-color);
    border-radius: 100%;
}
