.workOnMistakes {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    width: auto;
}

.workOnMistakes__words {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workOnMistakes__wordsCount {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-l);
    line-height: var(--font-size-xxl);
}

.workOnMistakes__wordsName {
    font-size: var(--font-size-s);
    color: var(--secondary-text-color);
}

.workOnMistakes__beginButton {
    color: var(--primary-color);
}