.homePage {
    display: grid;
    grid-template-rows: 1fr 250px 80px;
    grid-template-columns: calc(100vw - 2*var(--page-padding-m));
    gap: calc(var(--space-xl)*1.1);
    color: var(--on-surface-color);
    background-color: var(--primary-color);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 100;
    padding: var(--page-padding-m);
    cursor: pointer;
}

.homePage__gradient {
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.homePage__logo {
    z-index: 100;
    width: 900px;
    fill: white;
}

.homePage__factsContainer {
    position: relative;
    width: 100vw;
    height: 250px;
}

.homePage__facts {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.homePage__tap {
    font-family: var(--main-font);
    font-weight: var(--font-weight-l);
    height: auto;
    line-height: 1.5;
    color: var(--on-surface-color);
    font-size: var(--font-size-xl);
    z-index: 100;
    display: flex;
}

.homePage__tap__clicker {
    margin-left: var(--space-m);
}
