.dictionaryLearningPage {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.dictionaryLearningPage__recognition {
    max-width: 1080px;
    max-height: 745px;
}

.dictionaryLearningPage__buttons {
    display: flex;
    justify-content: start;
    position: relative;
}

.dictionaryLearningPage__hint {
    position: absolute;
    top: -215px;
    left: 0;
    height: 200px;
}
