.taskSetting__camera {
    --max-camera-height: 400px;

    max-height: var(--max-camera-height);
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-m);
    background-color: red;
}

.taskSetting__openBtn {
    min-height: auto;
    color: var(--thirdly-text-color);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-underline-color: var(--thirdly-text-color);
}
