.profile__pageContent {
    display: grid;
    grid-template-areas: "level level" "progress stats" "progress trophies";
    grid-template-rows: var(--title-block-container-height) 1fr 1fr;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: var( --content-max-width);
    margin: 0 auto;
    width: 100%;
}

.profile__levelBlock {
    grid-area: level;
}

.profile__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile__learningProgress {
    grid-row: 2 / span 2;
}
