.logupForm {
    --max-form-width: 640px;

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    max-width: var(--max-form-width);
    width: 100%;
    background-color: var(--on-surface-color);
    border-radius: var(--border-radius-s);
    padding: var(--space-xxl);
    box-shadow: var(--box-shadow-light);
}

.logupForm__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

.logupForm__link {
    align-self: center;
}