.sideBarItem__container {
    padding: 16px 40px;
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    cursor: pointer;
    border-left: 4px transparent solid;
    transition: all 0.1s ease-in;
    align-items: center;
    width: 100%;
}

.sideBarItem__label {
    color: var(--thirdly-text-color);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-l);
}

.sideBarItem__container:hover {
    background: var(--light-primary-color);
}

.sideBarItem_active {
    border-left: 4px var(--primary-color) solid;
}

.sideBarItem_active p {
    color: var(--primary-color);
}

.sideBarItem_active path {
    stroke: var(--primary-color);
}
