.container {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    align-items: center;
}

.name {
    font-family: var(--main-font);
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-m);
    line-height: var(--font-size-m);
}

.wordCount {
    line-height: var(--font-size-m);
    color: var(--thirdly-text-color);
    font-weight: var(--font-weight-m);
}

.wordCount_full {
    color: var(--success-color);
}
