.recognitionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recognitionBlock__title,
.recognitionBlock__recognizedWords {
    font-weight: var(--font-weight-s);
    font-size: var(--font-size-m);
}

.recognitionBlock__recognized,
.recognitionBlock__recognizedWords {
    align-self: flex-start;
}

.recognitionBlock__camera {
    width: 100%;
    height: 100%;
    margin: var(--space-m) 0;
}
