.selectUnit__title {
    margin-bottom:var(--space-l);
}

.selectUnit__theme {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: calc(var(--space-m) * 0.75);
}

.selectUnit__themeTitle {
    margin-bottom: var(--space-xs);
    cursor: pointer;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-l);
    color: #000;
}

.selectUnit__section {
    cursor: pointer;
    color: var(--disabled-button-color);
}

.selectUnit__section:hover,
.selectUnit__themeTitle:hover {
    color: var(--primary-color);
}

.selectUnit__themesScroll {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl)
}
