.bg-primary {
    background-color: var(--primary-color);
}

.bg-danger {
    background-color: var(--danger-color);
}

/** Tabs **/
div[data-slot="tabList"]{
    padding: var(--space-s);
    width: 100%;
}

/** Tab **/
button[data-slot="tab"]{
    font-size: var(--font-size-m);
    padding: var(--space-s);
    height: auto;
}