.systemTestPreview {
    border-radius: var(--border-radius-xs);
    display: flex;
    align-items: center;
    gap: var(--space-m);
    cursor: pointer;
    color: var(--text-color)
}

.systemTestPreview__info {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

.systemTestPreview__name {
    color: var(--secondary-text-color);
}

.systemTestPreview__description {
    font-size: var(--font-size-xs);
    color: var(--thirdly-text-color);
    font-weight: var(--font-weight-m);
}

.systemTestPreview__separator {
    --separator-size: 3px;

    width: var(--separator-size);
    height: var(--separator-size);
    border-radius: 100%;
    background-color: var(--on-surface-opacity-color);
}
