.learningCatalog__pageContent {
    display: grid;
    grid-template-areas: "level _" "themes _";
    grid-template-rows: var(--title-block-container-height) 1fr;
    grid-template-columns: 1.5fr 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-max-width);
}

.learningCatalog__levelBlock {
    grid-area: level;
}

.learningCatalog__themes {
    grid-area: themes;
    height: calc(100vh - var(--title-block-container-height) - 2*var(--page-padding-m) - var(--space-m));
}

.learningCatalog__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
