.learningCatalog {
    gap: var(--space-m);
}

.learningCatalog__title {
    margin-bottom: var(--space-l);
}

.learningCatalog__links {
    display: flex;
    flex-direction: row;
    gap: var(--space-m)
}
