.dictionary {
    --mistakes-height: 157px;

    gap: var(--space-m);
}

.dictionary__pageContent {
    position: relative;
    display: grid;
    grid-template-rows: var(--title-block-container-height) 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: var( --content-max-width);
    margin: 0 auto;
    grid-gap: var(--space-l);
    width: 100%;
}

.dictionary__titleContainer {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    justify-content: center;
}

.dictionary__titleContainer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dictionary__titleContainer__title {
    color: var(--text-color);
    line-height: var(--font-size-xl);
}

.dictionary__titleContainer__description {
    color: var(--text-color);
}

.dictionary__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dictionary__chooseWordBlock {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    height: 100%;
}

.dictionary__wordSearch {
    background-color: var(--on-surface-color);
    box-shadow: var(--box-shadow-light);
    padding: var(--space-m) var(--space-xl);
    height: auto;
    border: none;
}

.dictionary__wordSearchInput {
    font-size: var(--font-size-s);
}

.dictionary__wordSearchInput::placeholder {
    color: var(--thirdly-text-color);
}

.dictionary__selectDictionaryDisplay {
    flex: 1;
}
