.practiceSelectPairForWord {
    max-width: 1080px;
    box-sizing: border-box;
}

.practiceSelectPairForWord__contentContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
}

.practiceSelectPairForWord__title {
    font-family: var(--main-font);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-s);
    text-align: center;
}

.practiceSelectPairForWord__taskContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
