.selectFoundWord__header {
    display:flex;
    align-items: center;
    margin-bottom: var(--space-xl);
    gap: var(--space-m)
}

.selectFoundWord__backIcon {
    fill: var(--thirdly-text-color);
    cursor: pointer
}

.selectFoundWord__scroll {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    gap: var(--space-s) var(--space-l);
    flex-wrap: wrap;
    height: auto;
}

.selectFoundWord__sectionWords {
    display: flex;
    flex-direction: column;
    width: calc((100% - var(--space-s))/2 - var(--space-s));
    font-size:var(--font-size-xs);
    gap: var(--space-s);
}

.selectFoundWord__word {
    color: var(--disabled-button-color);
    cursor: pointer;
}

.selectFoundWord__word:hover {
    color: var(--primary-color);
}


@media(max-width: 1250px) {
    .selectFoundWord__sectionWords {
        width: 100%;
    }
}