.statistics__blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xl);
}

.statistics__item {
    --icon-size: 24px;

    display: grid;
    grid-template-columns: var(--icon-size) 1fr;
    gap: var(--space-xs) var(--space-m);
    align-items: center;
}

.statistics__icon {
    width: var(--icon-size);
    height: var(--icon-size);
}

.statistics__value {
    font-size: var(--font-size-l);
    color: var(--disabled-button-color);
    font-weight: var(--font-weight-xl);
    line-height: 1;
}

.statistics__description {
    font-size: var(--font-size-s);
    color: var(--disabled-button-color);
    grid-column: 1 / span 2;
}