.learningBlock {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: var(--space-m);
}

.learningBlock__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-s);
}

.learningBlock__icon {
    --icon-size: 32px;

    width: var(--icon-size);
    height: var(--icon-size);
}

.learningBlock__title {
    font-size: var(--font-size-l);
    line-height: var(--font-size-l);
}

.learningBlock__contentContainer {
    height: 100%;
}
