.dictionaryWordPage {
    display: grid ;
    grid-template-columns: 230px 1fr 230px;
    grid-template-rows: 70px calc(100vh - 70px - var(--page-padding-m) * 2 - var(--space-m) * 2);
    grid-template-areas:
            "logo e a"
            "b word c";
    align-items: center ;
    justify-content: center;
    justify-items: center;
    gap: var(--space-m);
    max-height: 100vh;
    overflow: hidden;
}

.dictionaryWordPage__logoContainer {
    width: 100%;
    grid-area: logo;
}

.dictionaryWordPage__word {
    grid-area: word;
    display: flex;
    flex-direction: column;
}

.dictionaryWordPage__wordName {
    margin-bottom: var(--space-l);
}

.dictionaryWordPage__illustrations {
    flex:1;
}

.dictionaryWordPage__actions {
    display: flex;
    gap: var(--space-xl);
    margin-top: var(--sapce-xl);
}