.container {
    overflow: hidden;
    height: 100%;
}

.scrollBox {
    max-height: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 var(--space-xxl) 0 0;
    scrollbar-width: thin;
    scrollbar-color: var(--thirdly-text-color) var(--dark-on-surface-color);
    font-family: var(--main-font);
    font-weight: var(--font-weight-s);
}

.scrollBox::-webkit-scrollbar {
    --scrollbar-width: 6px;

    width: var(--scrollbar-width);
}

.scrollBox::-webkit-scrollbar-track {
    background: var(--dark-on-surface-color);
}

.scrollBox::-webkit-scrollbar-thumb {
    background-color: var(--thirdly-text-color);
}
