.scrollBox {
    padding: var(--space-m);
    overflow: hidden;
}

.scrollBox__scroll {
    height: 100%;
    padding-right: var(--space-m);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--dark-on-surface-color);
}
  
.scrollBox__scroll::-webkit-scrollbar-track {
    background-color: var(--dark-on-surface-color);
}
  
.scrollBox__scroll::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}
