@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.practiceSelectGif {
    width: 100%;
    height: calc(100% - 70px);
    box-sizing: border-box;
    animation: showDown 0.5s ease-in;
}

.practiceSelectGif__contentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.practiceSelectGif__titleContainer {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
}

.practiceSelectGif__title {
    font-size: var(--font-size-l);
    line-height: var(--font-size-l);
}

.practiceSelectGif__titleSignText {
   color: var(--primary-color);
}

.practiceSelectGif__gifsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: var(--space-s);
    height: calc(100% - 30px);
    margin-top: var(--space-s);
}

.practiceSelectGif__gif {
    width: max-content;
}

.practiceSelectGif__gif:nth-child(odd) {
    justify-self: end;
}

