@keyframes showDown {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.practiceSelectGif {
    width: 100%;
    max-width: 680px;
    box-sizing: border-box;
    animation: showDown 0.5s ease-in;
}

.practiceSelectGif__contentContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.practiceSelectGif__titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-xs);
}

.practiceSelectGif__title {
    font-family: var(--main-font);
    font-weight: var(--font-weight-l);
    font-size: var(--font-size-s);
    text-align: center;
}

.practiceSelectGif__titleSignText {
   color: var(--primary-color);
}

.practiceSelectGif__gifsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    gap: 10px;
}
