.GCbq76AV {
    width: 100% !important;
    height: 100% !important;
}

.rexPJqgs {
    height: 30px;
}

.GCbq76AV .GvDxCcyL {
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.VFTELE23 {
    padding: 4px 8px;
    border-radius: var(--border-radius-s);
    background-color: var(--memento-color);
    color: var(--rocky-color);
}

.VFTELE23:hover {
    background-color: var(--memento-hover-color);
}

.VFTELE23:active {
    background-color: var(--memento-active-color);
}

.fbRc8RGH {
    height: 100%;
    width: 100%;
    flex: 1 !important;
    overflow: hidden;
}

.vIaXJ_fn {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-l);
    align-self: start;
}

.HBoR1rgP {
    flex:1;
    flex-shrink: inherit !important;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.ImmL82eR {
    align-self: end;
}

.EghOzbuh {
    min-height: 100%;
    max-height: none !important;
    width: 100%;
    padding-right: var(--space-m);
}

.xQ5rEVO1 {
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

.xQ5rEVO1 > * {
    flex-shrink: 0;
}

.kkl9svSF > * {
    position: relative;
}

.kkl9svSF > *:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: #cacaca;
    top: 10%;
}

.kkl9svSF.Ad_7GY9R > *:not(:last-child)::after {
    right: calc(var(--space-xxs) / 2 * -1);
}

.kkl9svSF.u6xynBm6 > *:not(:last-child)::after {
    right: calc(var(--space-xs) / 2 * -1);
}

.kkl9svSF.cYUQmXat > *:not(:last-child)::after {
    right: calc(var(--space-s) / 2 * -1);
}

.kkl9svSF.AOuwZMKc > *:not(:last-child)::after {
    right: calc(var(--space-m) / 2 * -1);
}

.kkl9svSF.hRvbre8u > *:not(:last-child)::after {
    right: calc(var(--space-l) / 2 * -1);
}

.kkl9svSF.Bq9eIQxO > *:not(:last-child)::after {
    right: calc(var(--space-xl) / 2 * -1);
}

.kkl9svSF.esYPFcTw > *:not(:last-child)::after {
    right: calc(var(--space-xxl) / 2 * -1);
}

.kkl9svSF.MaWXLVC9 > *:not(:last-child)::after {
    right: calc(var(--space-xxxl) / 2 * -1);
}

.UgimDfbI {
    flex-direction: row;
}

.p2E4X_ur {
    flex-direction: column;
}

.XPt8XPc2 {
    flex-direction: row-reverse;
}

.CGoy6buH {
    flex-direction: column-reverse;
}

.Ad_7GY9R {
    gap: var(--space-xxs);
}

.u6xynBm6 {
    gap: var(--space-xs);
}

.cYUQmXat {
    gap: var(--space-s);
}

.AOuwZMKc {
    gap: var(--space-m);
}

.hRvbre8u {
    gap: var(--space-l);
}

.Bq9eIQxO {
    gap: var(--space-xl);
}

.esYPFcTw {
    gap: var(--space-xxl);
}

.MaWXLVC9 {
    gap: var(--space-xxxl);
}

.CqDs4RfZ {
    justify-content: flex-start;
}

.ZKehA1o5 {
    justify-content: flex-end;
}

.Wut7oeLU {
    justify-content: space-between;
}

.m9shcraH {
    justify-content: space-around;
}

.oGap63G7 {
    justify-content: space-evenly;
}

._wDsAOG9 {
    justify-content: center;
}

.otlBFPqQ {
    align-items: start;
}

.JJ7bmdDN {
    align-items: end;
}

.Roh4_0tG {
    align-items: center;
}

.cXAW9bK_ {
    align-items: stretch;
}

.xQ5rEVO1.uh3co3Y_ > * {
    flex: 1 1 0;
}

.xHQdMJAA {
    height: auto;
}

.pishWs85 {
    height: fit-content;
}

.vPMjWLHZ {
    height: 100%;
}

._iGvyyMQ {
    width: auto;
}

.vEmlKtmk {
    width: fit-content;
}

.jy8YHG24 {
    width: 100%;
}

.YtSCMFme {
    flex-wrap: wrap;
}

.BR4yKKWz {
    flex-wrap: wrap-reverse;
}

.HbhsA_wS {
    flex-wrap: nowrap;
}

.lV1uIyaW {
    overflow: hidden;
}

.sHRkbDVJ.UgimDfbI {
    overflow-x: auto;
}

.sHRkbDVJ.p2E4X_ur {
    overflow-y: auto;
}

.MC1TbPyS {
    margin: 0;
    font: var(--font-default);
}

.s6Gy0Tnu {
    white-space: nowrap;
}

.hC0Xkimj {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.SwnY5Tas {
    outline-offset: -2px;
    font: var(--font-default);
    max-width: 100%;
    width: 100%;
    padding: 10px 16px;
    resize: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid transparent;
    border-radius: var(--border-radius-m);
    outline: 1px solid transparent;
    outline-offset: -2px;
    box-sizing: border-box;
    background-color: var(--input-color);
}

.HO9EaHOb {
    border-color: var(--red-color);
}

.SwnY5Tas:hover,
.SwnY5Tas:focus {
    border-color: var(--rocky-color);
}

.SwnY5Tas:focus {
    outline-color: var(--rocky-color);
}

.SwnY5Tas:disabled {
    pointer-events: none;
    background-color: var(--background-color);
    color: var(--secondary-text-color);
}

.SwnY5Tas[type="number"]::-webkit-outer-spin-button,
.SwnY5Tas[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.SwnY5Tas[type="number"] {
    appearance: textfield;
}

.SwnY5Tas::placeholder {
    color: var(--secondary-text-color)
}

.moFgxfyJ {
    display: inline-block;
    position: relative;
}

.ZNgpdTjI {
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    animation: Gf12ZJcm 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--rocky-active-color) transparent transparent transparent;
}

.ZNgpdTjI:nth-child(1) {
    animation-delay: -0.45s;
}

.ZNgpdTjI:nth-child(2) {
    animation-delay: -0.3s;
}

.ZNgpdTjI:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes Gf12ZJcm {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.WLSHKQsB {
    height: 100%;
    width: 100%;
}
.UE4qyBHn {
    padding: 7px 14px;
    border-radius: var(--border-radius-m);
    border: 1px solid transparent;
    outline: none;
    font: var(--font-default);
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: var(--font-weight-medium);
}

/* Colors */
.ErUkRi2c {
    background-color: var(--rocky-color);
    border-color:var(--rocky-color);
    color: var(--rocky-color);
}

.ErUkRi2c:hover {
    background-color: var(--rocky-hover-color);
    border-color:var(--rocky-hover-color);
    color: var(--rocky-hover-color);
}

.ErUkRi2c:active {
    background-color: var(--rocky-active-color);
    border-color:var(--rocky-active-color);
    color: var(--rocky-active-color);
}

.nDXB_7ve {
    background-color: var(--red-color);
    border-color:var(--red-color);
    color: var(--red-color);
}

.MIqJI1tP {
    background-color: var(--background-color);
    border-color:var(--background-color);
    color: var(--secondary-text-color);
}

.MIqJI1tP:hover {
    background-color: var(--background-hover-color);
    border-color:var(--background-hover-color);
    color: var(--secondary-text-color);
}

/* Sizes */
.enjdChDy {
    padding: 10px 16px;
    border-radius: var(--border-radius-m);
}

.wNccoKen {
    padding: 4px 8px;
    border-radius: var(--border-radius-s);
}


/* Variants */
.tbhc20nn,
.tbhc20nn:hover {
    color: #fff;
}

.kAeTFjn3:not(:hover) {
    background-color: #fff;
}

.kAeTFjn3:hover {
    color: #fff;
}

.w1QjmaG9 {
    border-color: transparent;
}

.w1QjmaG9.ErUkRi2c {
    background-color: var(--memento-color);
    color: var(--rocky-color);
}

.w1QjmaG9.ErUkRi2c:hover {
    background-color: var(--memento-hover-color);
}

.w1QjmaG9.ErUkRi2c:active {
    background-color: var(--memento-active-color);
}

.w1QjmaG9.nDXB_7ve {
    background-color: var(--red-background-color);
    color: var(--red-color);
}

.w1QjmaG9.nDXB_7ve:hover {
    background-color: var(--red-background-hover-color);
}

.w1QjmaG9.nDXB_7ve:active {
    background-color: var(--red-background-active-color);
}

.w1QjmaG9:hover {
    border-color: transparent;
}

.O1kj5f26 {
    padding: 6px 10px;
    border-radius: var(--border-radius-m);
    border-color: transparent;
    background-color: transparent;
}

.O1kj5f26.ErUkRi2c{
    color: var(--rocky-color)
}

.O1kj5f26.nDXB_7ve{
    color: var(--red-color);
}

.O1kj5f26.MIqJI1tP{
    color: var(--secondary-text-color);
}

.O1kj5f26.ErUkRi2c:hover {
    background-color: var(--memento-color);
    border-color: transparent;
}

.O1kj5f26.nDXB_7ve:hover {
    border-color: transparent;
    background-color: var(--red-background-color);
}

.O1kj5f26.MIqJI1tP:hover {
    border-color: transparent;
    background-color: var(--background-hover-color);
}

/* Icon button */
.QW2zKJp7.enjdChDy {
    padding: 10px;
}

.QW2zKJp7.wNccoKen {
    padding: 4px;
}

/* Other */
.LT_38VJ3,
.EV70zFSJ {
    opacity: 0.6;
    pointer-events: none;
}

.tbhc20nn .pVZj_Mdm > div > div {
    border-color: #fff transparent transparent transparent;
}

.UE4qyBHn .pVZj_Mdm {
    width: auto;
}

.UE4qyBHn:active {
    filter: brightness(90%);
}



.G29FQ4A9 {
    position: relative;
}

.R0me27vF, .ZzzBa9Vm {
    cursor: default;
}

.r6d5QLkR {
    outline: none;
}

.r6d5QLkR::marker {
    display: none;
    content: "";
}

.ofdZKK5z {
    position: absolute;
    visibility: hidden;
    height: fit-content;
    width: 100%;
    white-space: pre;
    left: 0;
    top: 100%;
    z-index: var(--z-index-dropdown);
}

.d7fgqJwx {
    visibility: visible;
}

.PjNIFT6m {
    bottom: 100%;
    top: unset;
}

.nxHZUBfv {
    position: relative;
    max-width: 100%;
    width: 100%;
    flex:1;
}

.pNxco3fy {
    position: absolute;
    bottom: var(--space-xs);
    right: var(--space-xs);
}

.CH84yno3 {
    font: var(--font-default);
    max-width: 100%;
    width: 100%;
    padding: 12px 20px;
    resize: none;
    overflow: auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid var(--border-on-surface-color);
    border-radius: var(--border-radius-m);
    outline: 1px solid transparent;
    outline-offset: -2px;
    box-sizing: border-box;
}

.nxHZUBfv:has( > .pNxco3fy) .CH84yno3 {
    padding-bottom: calc(var(--space-xs) * 2 + var(--space-m));
}

.LBaxjNjW {
    border-color: var(--danger-color);
}

.CH84yno3:not(:disabled):focus,
.CH84yno3:not(:disabled):hover{
    border-color: var(--primary-color);
}

.CH84yno3:not(:disabled):focus {
    outline-color: var(--primary-color);
}

.CH84yno3:disabled {
    pointer-events: none;
    background-color: var(--surface-color);
    color: var(--secondary-text-color);
}

.H8LUNxp2 {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;

    text-align: center;
    white-space: nowrap;
    color: #939DAA;

    cursor: default;
}

.H8LUNxp2:not(:empty):after {
    margin-left: var(--space-s);
}

.H8LUNxp2:not(:empty):before {
    margin-right: var(--space-s);
}

.H8LUNxp2:empty:after,
.H8LUNxp2:empty:before {
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
}

.H8LUNxp2:after,
.H8LUNxp2:before {
    display: block;
    content: "";

    background-color: var(--active-color);

    width: 50%;
    height: 1px;
}

.Jy15ZYj4 {
    height: 100%;
    width: 1px;
    background-color: var(--active-color);
}

.qDvEVwTx {
    --max-confirm-width: 400px;
    --confirm-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20), 0px 1px 4px 0px rgba(0, 0, 0, 0.05);

    max-width: var(--max-confirm-width);
    width: 100%;
    box-shadow: var(--confirm-box-shadow);
    background-color: #fff;
    border-radius: var(--border-radius-l);
    padding: var(--space-m);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.vDsjnyjR {
    z-index: var(--z-index-confirm);
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0, var(--disabled-opacity));
    padding: var(--space-xxxl);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.J6v9pd4r {
    margin: 0;
    font-size: var(--font-size-m);
    line-height: calc(var(--font-size-m) * 1.5);
    white-space: pre-wrap;
    word-break: break-word;
}

.g_RZY_19 {
    margin: 0;
    font-size: calc(var(--font-size-m) * 1.5);
    font-weight: var(--font-weight-semibold);
}

.RbEsIFhv {
    margin-top: var(--space-s);
    display: flex;
    align-items: center;
    gap: var(--space-s);
    align-self: start;
}

.c0GB75ss {
    padding: var(--space-xs);
    border-radius: var(--border-radius-s);
}

.U5j9yR3Z {
    border-radius: var(--border-radius-m);
    background-color: var(--background-color);
    padding: var(--space-s);
    max-width: 500px;
    width: 100%;
}

.DH7ArE_l {
    background-color: #e4efff;
}

.c7jqbLMB,
.TxL2TAKJ{
    font-size: var(--font-size-s);
    color: var(--thirdly-text-color);
    line-height: 1;
}

.DH7ArE_l .c7jqbLMB,
.TxL2TAKJ {
    align-self: end;
}

.c7jqbLMB {
    font-weight: var(--font-weight-semibold);
    margin-bottom: var(--space-xxs);
}

.d1VH5qNf {
    width: 100%;
    white-space: initial !important;
}

.JmsmVDsa {
    background-color: var(--input-color);
    border-radius: var(--border-radius-m);
    padding: var(--space-s);
    padding-bottom: calc(var(--space-s) - 4px);
    width: 100%;
}

.x8__SCz2 {
    outline: none;
    border: none;
    background-color: transparent;
    font: var(--font-default);
    width: 100%;
    padding: 0;
    max-height: 221px;
}

.x8__SCz2::placeholder {
    color: var(--secondary-text-color)
}

.Qhy7wyZ_ {
    width: 100%;
    height: 1px;
    background-color: #dadada;
}

.BugZWN5a:disabled {
    opacity: 0.6;
}

.YGDO5895 {
    width: var(--icon-size);
    height: var(--icon-size);
}

.BugZWN5a:hover .YGDO5895 {
    fill: var(--rocky-active-color) !important;
}

.Teep0QrP {
    flex: 1;
    width: 100%;
}

.m6d2_K5I {
    background-color: var(--input-color);
    border-radius: var(--border-radius-m);
    padding: var(--space-s);
    max-height: 221px;
    width: 100%;
}

._w7boj77 {
    outline: none;
    border: none;
    background-color: transparent;
    font: var(--font-default);
    width: 100%;
    flex: 1;
    padding: 0;
}

._w7boj77::placeholder {
    color: var(--secondary-text-color)
}

.QJHFo2rU:disabled {
    opacity: 0.6;
}

.YEowawxK {
    width: var(--icon-size);
    height: var(--icon-size);
}

.QJHFo2rU:hover .YEowawxK {
    fill: var(--rocky-active-color) !important;
}

.aKekfx3q {

}

.zyw9LMye {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-s);
}

.tkbp8aoU {
    width: var(--icon-size);
    height: var(--icon-size);
}

