.authFormPage {
    --logo-width: 218px;

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    justify-content: center;
    align-items: center;
}

.authFormPage__logo {
    position: absolute;
    top: var(--page-padding-m);
    left: var(--page-padding-m);
    max-width: var(--logo-width);
    fill: var(--primary-color);
    justify-self: flex-start;
    width: 100%;
    align-self: flex-start;
    cursor: pointer;
}

.authFormPage__form {
    --max-form-width: 640px;

    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    max-width: var(--max-form-width);
    width: 100%;
    background-color: var(--on-surface-color);
    border-radius: var(--border-radius-s);
    padding: var(--space-xxxl);
    box-shadow: var(--box-shadow-light);
}

.authFormPage__form form {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
}

@media(max-width: 1200px){
    .authFormPage {
        justify-content: start;
    }

    .authFormPage__logo{
        position: static;
        align-self: start;
    }
}
