.levelLink {
    padding: 10px 20px;
    cursor: pointer;
    background: var(--dark-on-surface-color);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    justify-content: center;
    align-items: center;
}

.levelLink__name {
    font-family: var(--main-font);
    font-size: var(--font-size-m);
    line-height: var(--font-size-m);
}

.levelLink__wordsCount {
    font-family: var(--main-font);
    font-size: var(--font-size-s);
    line-height: var(--font-size-m);
}
