@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.recognitionBlock {
    --max-camera-width: 650px;

    display: grid;
    grid-template-columns: var(--max-camera-width) 1fr;
    grid-template-rows: 50px 1fr;
    grid-gap: var(--space-l);
}

.recognitionBlock__header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: var(--max-camera-width) 1fr;
    grid-gap: var(--space-xl);
    align-items: start;
}

.recognitionBlock__wordHeader {
    display: flex;
    gap:  var(--space-l);
    width: 100%;
}

.recognitionBlock__errorButton {
    margin-left: auto;
}

.recognitionBlock__cameraSettingsButton {
    margin-left: auto;
}

.recognitionBlock__title {
    font-size: var(--font-size-s);
}

.recognitionBlock__gesture {
    line-height: var(--font-size-l);
}

.recognitionBlock__recognizedContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: start;
}

.recognitionBlock__recognized {
    line-height: var(--font-size-m);
    font-size: calc(var(--font-size-m)*0.9)
}

.recognitionBlock__recognizedWords {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13px
}

.recognitionBlock__recognizedWord {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: var(--font-size-m);

    animation: show 0.4s ease-in;
}

.recognitionBlock__rightWord {
    color: var(--success-color)
}


.recognitionBlock__camera {
    width: 100%;
    height: 100%;
    position: relative;

    /*display: inline-block;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.recognitionBlock__cameraSettingsButton,
.recognitionBlock__errorButton {
    min-height: auto;
    color: var(--thirdly-text-color);
    text-decoration: underline;
}

.recognitionBlock__cameraLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
